


#footer {
    border-top: 1px solid gainsboro;
    text-align: center;
    padding: 15px 0px;
    margin-top: 15px;
    color:#fff;
    background-color:#761c19;
}

.input-block {
    margin-bottom: 5px;
    padding: 5px;
}

.input-block > label {
    display: inline-block;
    vertical-align: top;
    min-width: 150px;
}

.input-block > .input-field {
    padding: 5px 10px;
    min-width: 400px;
}

.small-image{

    width: 300px;
    height: auto;
}


.gallery-image{
    padding: 10px;
    width: 500px;
    height: auto;

}
.tags i{

    font-size: 22px;
    margin: 10px;

}
.info i{

    font-size: 18px;
    padding: 10px;
    padding-top: 15px;

}
.details{
    padding: 10px;
    font-size: 16px;
}
.button-rent{
    padding: 10px;

}
.table tr th{
    text-align: center;
}
.table tr td{
    text-align: center;
}
.contact {
    background-color: #F5F5F5;

    height: 70px;
    font-size: 27px;
    padding: 10px;
}
#contact-form{
    padding: 5px; 
    font-size: 27px;

}

#heading-bottom > h3> a{
    text-decoration: none;
    color:#1a1a1a;
}
#rent-btn > a{
    text-decoration: none;
    color:#1a1a1a;
}

.alert{
    background-color: #e9e9e9;
    text-align: center;
    font-size: 20px;
}
.list-group-item{
    background: #101010; 
}
.list-group-item> a{
    color: #9d9d9d; 
}
.list-group-item> a:hover{
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
.jumbotron{


    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
     background: #f5f5ef;
    


}
#headline> h2{
    color: #761c19;
    font-size: 23pt;  
   
}
.caption>h3, a{
    color: #761c19;
   
}
.caption>h3,a:hover{
    color: #9d9d9d;
    background-color: transparent;
    text-decoration: none;
}
/**#headline2> h2{
    color: #761c19; 
    font-weight: bold;
}


#btn-search{
   background: #101010; 
  color: #9d9d9d;
}

#btn-color{
   color: #761c19;
}
*/
#headline3{
    color: #761c19; 
}
#headline2>h1{
     color: #761c19; 
}
#headline2>h2{
     color: #761c19; 
}
body {
       position: relative;

    }
    .header-image {
        display: block;
        width: 100%;  
        text-align: center;
        background: url('http://www.watsonfinance.com/upl/website/home/autofinancebw0_srcset-large.jpg') no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    } 
    #home-page {
        display: block;
        width: 100%;  
        text-align: center;
        background: url('http://www.watsonfinance.com/upl/website/home/autofinancebw0_srcset-large.jpg') no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;




    }
    #home-page-two {
        padding-top:50px;
        height:700px;          
        background-color: #fff;

    }



    #about-us {
        padding-top:30px;
        height:700px;
        background-color: #ccc;

    }
    #cars{
        padding-top:30px;
        height:700px;            
        background-color: #fff;
    }
    #contact {
        padding-top:30px;
        height: 725px;
        background-color: #333;

    }
    
 @media screen and (max-width: 810px) {
     #home-page-two, #about-us, #cars, #contact  {
        height:100%;
    }
 }